#collection-item-submission span {
    color:red;
}

#login-form span {
    color:red;
}

.error {
    color: red;
}

.success {
    color: green;
}

#webapp-back {
     background-image:url("/static/images/arcadeback.jpg")
}

.text-border-pink {
background-color: pink;
border-radius: 25px;
}