{% extends "layout.html" %}

{% block body %}

<div class="text-center">
    <main role="main" class="inner cover">
        <h1 class="cover-heading center-div-container text-font-lightblue">Welcome to the Flask game display
            WebApp.</h1>
        <div>
            <img src="static/images/nintendorad.gif" class="rounded mx-auto d-block center-div-container"
                 alt="90s Nintendo gamer">
            <p class="lead">
                <a href="/logout" class="btn btn-lg btn-secondary">Log out</a>
            </p>
        </div>
    </main>
</div>

{% endblock %}