{% extends "layout.html" %}

{% block body %}

        <div class = "text-center">
        <main role="main" class="inner cover" >
                <h1 class="cover-heading text-border-pink ">Welcome to the Flask game display WebApp.</h1>
                <img src="static/images/nintendorad.gif" class="rounded mx-auto d-block" alt="90s Nintendo gamer">
                <p class="lead"></p>
                <p class="lead">
                  <a href="/logout" class="btn btn-lg btn-secondary">Log out</a>
                </p>
        </main>
        </div>

{% endblock %}