{% extends "layout.html" %}

{% block body %}

<form id="login-form" class="left-div-container text-font-lightblue" method="POST" action="login">

    {{form.hidden_tag()}}
    {{form.email.label(class="form-label")}}
    {{form.email(class="form-control")}}
    <span></span><br><br>
    {{form.password.label(class="form-label")}}
    {{form.password(class="form-control")}}
    <span></span><br><br>
    {{form.submit(class="btn btn-secondary")}}

</form>
{% endblock%}
{% block javascript %}
<script src="static/js/login.js"></script>
{% endblock %}