{% extends "layout.html" %}

{% block body %}
<div class="text-center">
    <main role="main" class="inner cover text-font-lightblue center-div-container">
        <h1 class="cover-heading">Remove a game from the collection</h1>
        <p class="lead">Here you can remove a game from the collection</p>
        <form id="remove-game-form" action="#" method="post">
            {{form.hidden_tag()}}
            {{form.game_select.label(class="form-label")}}
            {{form.game_select(class="form-control")}}
            <div class="spacer">
                {{form.submit(class="btn btn-secondary")}}
            </div>
        </form>
    </main>
</div>
{% endblock %}