{% extends "layout.html" %}

{% block stylesheet %}
<title>Submission</title>
{% endblock stylesheet %}

{% block body %}

{% if error %}
{% endif %}

<div class="text-center">
    <main role="main" class="inner cover">
        <h1 class="cover-heading center-div-container error center-div-container">Error.</h1>
        <div>
            <p class="lead text-font-lightblue center-div-container">
               Upload unsuccessful. {{ error }} . Please go back and try submitting again.
            </p>
        </div>
    </main>
</div>


{% endblock %}