{% extends "layout.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="static/css/rates.css">
<title>Upload</title>
{% endblock stylesheet %}
{% block body %}

<div class="center-div-container">
<h1 class="text-font-lightblue">Upload a new game</h1>
</div>
<div class="col-md-7">

<form id ="collection-item-submission"  class="text-font-lightblue" action="/submitted" method="post" enctype="multipart/form-data">
    <div class="left-div-container">

    {{form.hidden_tag()}}
    {{form.game_name.label(class="form-label")}}
    {{form.game_name(class="form-control")}}
    <span>*</span><br><br>
    {{form.game_developer.label(class="form-label")}}
    {{form.game_developer(class="form-control")}}
    <span>*</span><br><br>
    {{form.console.label(class="form-label")}}
    {{form.console(class="form-control")}}
    <span>*</span><br><br>
    {{form.release_year.label(class="form-label")}}
    {{form.release_year(class="form-control")}}
    <span>*</span><br><br>
    {{form.game_description.label(class="form-label")}}
    {{form.game_description(class="form-control")}}
    <span>*</span><br><br>
    {{form.image_file.label(class="form-label")}}
    {{form.image_file(class="form-control")}}
    <span>*</span><br><br>
    {{form.image_caption.label(class="form-label")}}
    {{form.image_caption(class="form-control")}}
    <span>*</span><br><br>

    <div class="form-label">Choose a score rating:</div>
    <div id="score"></div>
    <span id="sr-span">*</span><br>
        </div>


    {{form.submit(class="btn btn-secondary")}}
</form>
</div>
    </div>


{% endblock %}

{% block javascript %}
<script src="static/js/jquery-rates.js"></script>
<script>
    console.log($('h1'))
    $(function(){
    $("#score").rates({
                shadeColor: 'rates-blue',
                shapeCount: 5,
                shape: 'black-star',
                shapeHeight: "65px",
                imagesFolderLocation: 'static/'

            })
    })
</script>
<script src="static/js/form.js"></script>
{% endblock %}

